
.inputs{
  button, input, select, textarea{
  border:1px solid var(--scroll);
  background-color: var(--principale);
  margin:1px;
  border-radius: 10px;
}
select{
  
  color: white;
}
button{
  padding: 0px 15px;
  margin: 0px 5px;
  border: 1px solid var(--required);
  filter: drop-shadow(1px 1px 2px var(--required));
  margin-bottom: 5px;
  color: white;
}
p{
  color:var(--required);
  font-weight:bold!important;
}
}

#htmlContent {
  width: 595px !important;
  height: 835px !important;
  position: relative;
  min-width: 595px !important;
}
.noplanning .bottom {
  padding-bottom: 20px;
}
.noplanning {
  width: 590px !important;
  min-width: 590px !important;
  height: 840px !important;
  padding: 5px;
}
.inputs {
  min-width: 45vw;
  position: relative;
  margin-top: 10px;
  padding: 0px 10px;
  padding-top: 10px;
  border-left: 5px ridge var(--scroll);
  padding-left:10px;
  margin-left:10px;
}
.bottombuttons{
  margin-top:10px;
  padding-bottom:20px;
}
.portrait .inputs {
  border-top: 5px ridge var(--scroll);
  width: 585px !important;
  border-left: unset;
  padding-left:10px;
  margin-left:unset;
}
* {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.textoverflow {
  text-overflow: ellipsis;
  overflow: hidden;
}
.rosebg {
  background-color: #ab83ba22;
  font-size: 25.1px;
  text-align: center;
  letter-spacing: 15px;
}
.center {
  justify-content: center;
}
.right {
  justify-content: right;
}
input {
  text-align: center;
  width: 80px;
  margin: 0px 5px;
}
.inputs .flex {
  width: 100%;
  margin: 2px 0px;
}
.big input,
.big button {
  width: 180px;
}
.logo {
  width: 30%;
  margin: auto;
  display: flex;
  margin-top: 5px;
  margin-bottom: 10px;
}
p {
  font-family: "Cardo", serif !important;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  font-size: 14px;
  letter-spacing: 1px;
}
.date {
  text-align: center;
  font-size: 15px;
}
.ligne {
  border-bottom: 1px solid black;
  width: 90%;
  display: flex;
  margin: auto;
}
.fullligne {
  border-bottom: 1px solid black;
  width: 100%;
  display: flex;
  margin: auto;
}
.margtop {
  margin-top: 25px;
}
.marg {
  margin-bottom: 15px !important;
  border-bottom: 2px solid var(--required);
  padding-bottom: 10px;
}
.content {
  padding: 0px 15px;
  position: relative;
}
.cloe p {
  font-weight: bold;
  position: relative;
}
.none {
  display: none;
}
.noborder {
  border: unset !important;
  border-top: 1px solid black !important;
  border-bottom: 1px solid black !important;
  padding-left: 15px;
}
.nobold {
  font-weight: unset !important;
}
.bold {
  font-weight: bold !important;
}
.flex {
  display: flex;
}
.between {
  justify-content: space-between;
}
.tinytext {
  font-size: 12px !important;
}
.devis {
  text-align: right;
}
.client p {
  text-align: right;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
  display: flex;
  left: 120px;
}
.invitee {
  white-space: nowrap;
  position: absolute;
  left: 5px;
  top: 2px;
}
.inviteesinput {
  
  display: flex;
  flex-direction: column;
  input {
    margin: 1px;
    width: 100px !important;
  }
}
.dataplanning {
  scrollbar-color: var(--principale) var(--scroll);
  scrollbar-width: thin;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 2vh 0vw;
  max-width: 70%;
}
.firstrow {
  opacity: 0;
  td {
    border: 1px solid transparent;
    border-bottom: 1px solid black;
  }
}
.botbot{
  padding:5px 20px;
}
.lignesprestas {
  .lignepres {
    position: relative;
    select,
    button {
      width: unset !important;
      position: relative;
    }
    select{
      width:70px!important;
    }
    input{
      width:30px!important;
    }
    .checkmaqu{
      margin-left: 15px;
      margin-right: 15px;
    }
  }
  .disabled{
    pointer-events: none;
    opacity: 0.3;
    color: black !important;
  }
  .topartiste{
    p{text-align: center;}
    p:nth-child(1){width:110px;}
    p:nth-child(2){width:65px;}
    p:nth-child(3){width:85px;}
    p:nth-child(4){width:100px;}
    p:nth-child(5){width:45px;}
    p:nth-child(6){width:50px;}
  }
}
.topceremonie{
  justify-content: center;
  padding: 5px 0px;
  background-color: var(--fond);
  margin: 15px 0px !important;
  border: 2px solid var(--required);
  p{
    position: relative;
    top:2px;
  }
  input{
    margin:0px 10px;
  }
}
.topcollegue{
  justify-content: center;
  border-bottom: 2px ridge var(--scroll);
  padding: 5px 0px;
  margin: 5px 0px !important;
  border-top: 2px ridge var(--scroll);
  p{
    position: relative;
    top:2px;
  }
  input{
    margin:0px 10px;
  }
}
.nomslignes {
  padding: 2vh 0vw;
}
.nomslignes p {
  position: relative;
  top: 2px;
  text-align: right;
  height: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tableplann {
  display: flex;
  height: 85px;
  padding-left: 62px;

  p {
    width: 63.25px;
    white-space: nowrap;
    text-align: center;
    font-size: 10px !important;
    transform: rotate(-45deg);
    transform-origin: left bottom;
    height: 40px;
    top: 62px;
    position: relative;
  }
  .containerline {
    position: relative;
    width: 63.25px;
  }
  .orientedline {
    left: 0px;
    position: absolute;
    border-left: 1px solid black;
    height: 85px;
    transform: rotate(45deg);
    transform-origin: bottom left;
  }
}
select {
  width: 108px;
}
textarea {
  width: 100px;
  font-size: 9px;
  height: 40px;
  resize: none;
}
.artist {
  position: relative;
  top: -22px;
  text-align: right;
  font-style: italic;
}
table {
  border-collapse: collapse;
  top: -21px;
  left: -14px;
  position: relative;
  .odd {
    background-color: rgba(171, 131, 186, 0.1333333333);
  }
  td {
    border: 1px solid black;
  }
  .firsttd {
    width: 75px;
  }
  .horaire {
    width: 60px;
    min-width: 60px;
    max-width: 60px;
    text-align: center;
  }
}
.noplanning {
  .table {
    display: flex;
    p {
      width: 10%;
      white-space: nowrap;
      text-align: center;
      font-size: 10px !important;
    }
    p:nth-child(2) {
      width: 45%;
    }
    p:nth-child(3) {
      width: 20%;
    }
    p:nth-child(5) {
      width: 15%;
    }
  }
}
.echeance {
  width: 75%;
}
.total {
  width: 15%;
  text-align: right;
}
.boutons {
  justify-content: space-evenly;
  button {
    width: 30%;
  }
}
.resume {
  position: relative;
  top: 100px;
}
.minitxt {
  position: relative;
  width: 100%;
  top: -4px;
  p {
    font-size: 12px !important;
    width: 100%;
  }
  .tva {
    text-align: right;
    font-size: 8px !important;
    white-space: nowrap;
  }
}
.infos p {
  font-size: 9px !important;
}
ul {
  margin: 0;
  font-size: 9px;
  padding: 0px 20px;
}
.infos {
  margin-top: 20px;
}
.signature {
  font-size: 10px !important;
  margin-top: 10px;
}
.iban p {
  color: #ab83ba;
  font-size: 12px !important;
}
.thank p {
  color: #87528e;
  font-size: 29px !important;
  text-align: center;
}
.bottomplann {
  position: absolute;
  bottom: 0px;
  width: 100%;
  .cont {
    color: #87528e;
    text-decoration: underline;
    font-weight: bold;
  }
  .flex {
    p {
      font-size: 11px;
    }
  }
}
.adres {
  border: 1px solid black;
  width: 250px;
  padding: 5px 0px;
  margin: 15px 0px;
  p {
    padding: 0px 5px;
  }
  p:nth-child(1) {
    font-weight: bold;
    border-bottom: 1px solid black;
  }
  p:nth-child(2) {
    font-style: italic;
    padding-top: 5px;
  }
  p:nth-child(3) {
    font-style: italic;
  }
}
.domaine {
  display: flex;
  flex-direction: column;
  background-color: var(--fond);
  width: 80%;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  border-top: 2px ridge var(--required);
  border-bottom: 2px ridge var(--required);
  padding: 10px 10px;
  p {
    width: 35%;
  }
  input {
    width: 50%;
  }
}
.bottom {
  position: absolute;
  bottom: 0px;
  width: 100%;
  .flex {
    margin: 0px 20px;
  }
  .iban {
    width: 60%;
  }
  .thank {
    width: 40%;
    p {
      font-weight: bold;
      letter-spacing: 10px;
    }
  }
}
.disabled {
  color: white !important;
  pointer-events: none;
}
.green {
  font-weight: bold;
  color: rgb(57, 155, 57);
}
.prestas {
  scrollbar-color: var(--principale) var(--scroll);
  scrollbar-width: thin;
  max-height: 300px;
  overflow-y: scroll;
  border: 1px solid var(--required);
  margin: 20px 0px;
  padding: 10px;
  .flex {
    width: unset;
  }
  input {
    width: 60px;
    font-size: 11px;
  }
  .qte {
    width: 100px;
  }
  .nom {
    width: 80%;
    text-align: center;
  }
}
.title {
  p {
    text-align: center;
    width: 100% !important;
    border-bottom: 1px solid var(--required);
    margin: 10px 0px;
  }
}
.clickable:hover {
  cursor: pointer;
  font-weight: bold;
  color: red;
}
.noOverflow {
  max-height: unset !important;
  overflow: hidden !important;
}
